@{
    var id = ViewBag.Id;
    ViewData["Title"] = (id != null ? "تغییر  برند" : "افزودن برند");
}
<h3>@(id != null ? "تغییر  برند" : "افزودن برند")</h3>

@section breadcrumb{
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb bg-dark bg-opacity-10">
            <li class="breadcrumb-item align-text-top "><a class="p-2 m-1  breadcrumb-link" href="/Admin/Home/Index">صفحه اصلی</a></li>
            <li class="breadcrumb-item " aria-current="page"> @(id != null ? "تغییر  برند" : "افزودن برند") </li>
        </ol>
    </nav>

    <div class="card ">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h1 class="h5">لیست برند ها</h1>
            <div>
                <a class="btn btn-success btn-sm" href="@Url.Action("list")">لیست برند</a>
            </div>
        </div>
        <div class="card-body ">

            <form action="@Url.Action("save")" class="form-control validnd" method="post" enctype="multipart/form-data" novalidate>
                @{
                    if (id != null)
                    {
                        <input type="hidden" value="@id" name="id" />
                    }
                }
                <div class="row  mb-3 mt-3">
                    <label for="Titletxt" class="form-label col-md-1">عنوان:</label>
                    <div class="col-md-6">
                        <input class="form-control " id="Titletxt" maxlength="50" autocomplete="off" name="Title" required>
                        <div class="invalid-feedback">لطفا عنوان را وارد کیند</div>
                    </div>
                </div>

                <div class="row  mb-3 mt-3">
                    <label for="SlugTitletxt" class="form-label col-md-1">نام اسلاگ:</label>
                    <div class="col-md-6">
                        <input class="form-control " id="SlugTitletxt" maxlength="50" name="Slug" autocomplete="off" required>
                        <div class="invalid-feedback">لطفا نام اسلاگ را وارد کیند</div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="ddlState" class="form-label col-md-1">وضعیت:</label>
                    <div class="col-md-6">
                        <select class="form-select" id="ddlState" name="state" required>
                            <option selected disabled value="">لطفا انتخاب کنید...</option>
                            <option value="1">فعال</option>
                            <option value="2">غیر فعال</option>
                        </select>
                        <div class="invalid-feedback">لطفا وضعیت را انتخاب کنید</div>
                    </div>
                </div>


                <div class="row  mb-3 mt-3">
                    <label for="formPhoto" class="form-label col-md-1">تصویر:</label>
                    <div class="col-md-6">
                        <input type="file" class="form-control-File" id="formPhoto" maxlength="50" name="Photo" autocomplete="off" required>
                        <div class="invalid-feedback">لطفا  Photo را وارد کیند</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <button type="submit"  class="btn btn-success pe-3 ps-3 mb-3">ثبت </button>

                    </div>
                </div>

            </form>





        </div>
    </div>

}
@section Scripts{
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.validnd')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
}


