@using Project_Digikala.Models.ViewModels.Product
@using Project_Digikala.Models.Products.Specifications
@model List<ProductListView>
@{
    ViewData["Title"] = "لیست کالا";
    var groups = Model.Select(g => g.Group).Distinct().ToList();
    var brands = Model.Select(b => b.Brand).Distinct().ToList();
    var keyword = ViewBag.keyword;

}
@inject ISpecificationGroupRepository specRepo
@{
    var specList = new List<SpecificationGroup>();
    foreach (var item in groups)
    {
        var specGroup = await specRepo.SearchAsync(item.Id);
        specList.AddRange(specGroup);
    }
}
@section Style{

    <link href="~/Css/Product/List.css" rel="stylesheet" />
}
<form class="product-list body-wrapper" id="prodcutlist">
    <div class="product-list__side">
        <section class="product-list__side-section">
            <div class="product-list__side-section-header">گروه کالا</div>
            <div class="product-list-side-section__content">
                <ul class="product-list-side-section-group">
                    @foreach (var item in groups)
                    {
                        <li class="product-list-side-section__item">
                            <a asp-controller="product" asp-action="ProductListByGroup" asp-route-Groupid="@item.Id" class="product-list-side-section-group__link">@item.Title</a>
                            @*<ul class="product-list-side-section-group">

                                    <li class="product-list-side-section__item">
                                        <a href="#" class="product-list-side-section-group__link">کالای دیجیتال</a>
                                    </li>
                                    <li class="product-list-side-section__item">
                                        <a href="#" class="product-list-side-section-group__link">لوازم جانبی</a>
                                    </li>
                                    <li class="product-list-side-section__item">
                                        <a href="#" class="product-list-side-section-group__link">ذخیره سازی</a>
                                    </li>
                                </ul>*@
                        </li>
                    }

                </ul>
            </div>

        </section>
        <section class="product-list__side-section">
            <div class="product-list__side-section-header">قیمت</div>
            <div class="product-list-side-section__content"></div>
            <div class="product-list-price">از :<input type="number" name="fromprice" class="product-list-price__input" autocomplete="on" value="" /></div>
            <div class="product-list-price">تا :&nbsp;<input type="number" name="toprice" class="product-list-price__input" value="" /></div>
        </section>
        <section class="product-list__side-section">
            <div class="product-list__side-section-header">برند</div>
            <div class="product-list-side-section__content">
                <div class="product-list-side-brands">
                    @foreach (var item in brands)
                    {
                        <label class="product-list-side-brands__button">@item.Title<input class="product-list-side-brands__checkbx" type="checkbox" name="brands" value="@item.Id" /><span class="product-list-side-brands__bullet mdi mdi-check-circle mdi-18px"></span></label>
                    }
                </div>
            </div>

        </section>
        <section class="product-list__side-section">
            <div class="product-list__side-section-header">مشخصات فنی</div>
            <div class="product-list-side-section__content">
                <ul class="product-list-side__spes">
                    @foreach (var item in specList)
                    {
                        <li class="product-list-side-spes__item">
                            <input type="checkbox" id="spes_check-@item.Id" class="product-list-side-spes-toggle-input" />
                            <div class="product-list__side-section-spes-header">@item.Title <label for="spes_check-@item.Id" class="product-list-side-spes__toggle mdi mdi-plus"></label><label for="spes_check-@item.Id" class="product-list-side-spes__toggle mdi mdi-minus"></label></div>
                            <div class="product-list-side-spes__values">
                                @foreach (var Specification in item.Specifications)
                                {
                                    <label class="product-list-side-spes__button">@Specification.Title<input class="product-list-side-spes__checkbx" type="checkbox" name="specs" value="@Specification.Id" /><span class="product-list-side-spes__bullet mdi mdi-check-circle "></span></label>
                                }
                            </div>
                        </li>

                    }

                </ul>

            </div>

        </section>
        <div class="product-list__actions">
            <label type="submit" class="button">
                <input type="submit" class="product-list-actions__input" />
                <span class="button-text">جستجو</span>
            </label>
        </div>
    </div>

    <div class="product-list__content">
        <div class="product-list__header">
            <h1 class="product-list__title">@keyword </h1>
            <span class="product-list-keayword">
                <input class="product-list-keayword__input" placeholder="جستجو..." name="keyword" />
                <input type="submit" id="search-keyword" class="product-list-actions__input" />
                <label for="search-keyword" class="product-list-keayword__icon mdi mdi-magnify"></label>
            </span>
        </div>
        <div class="product-list-content-actions">
            <div class="product-list-content__info">
                <select class="product-list-content-actions__select">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
                <span class="product-list-content__total">@Model.Count  کالا</span>
            </div>
            <div class="product-list-content-actions-pager">
                <a class="product-list-pager__button">1</a>
                <span class="product-list-pager__seperator">....</span>
                <a class="product-list-pager__button product-list-pager__button--current">8</a>
                <a class="product-list-pager__button">9</a>
                <a class="product-list-pager__button">10</a>
                <span class="product-list-pager__seperator">....</span>
                <a class="product-list-pager__button">15</a>
            </div>
        </div>

        <ul class="products">
            @if (Model == null || Model.Count == 0)
            {
                <li class="products__empty">
                    <span class="products__empty-title">هیچ موردی برای نمایش وجود ندارد.</span>
                </li>
            }
            else
            {
                foreach (var item in Model)
                {
                    <li class="products__item">
                        <div class="products__layout">
                            <div class="product__photo-wrap">
                                <a asp-controller="product" asp-action="Index" asp-route-id="@item.Id" class="product-photo__link"> <img src="/Images/product/@item.ImageUrl" title="@item.SecondaryTitle" alt="@item.SecondaryTitle" class="product-photo__img" /></a>
                            </div>
                            <div class="products__title-wrap">
                                <a href="/Product/Index/1" class="products__primary-title">@item.PrimaryTitle</a><br />
                            </div>
                            @if (item.Price == "0")
                            {
                                <div class="product-state">
                                    <span class="product__unavailabe">ناموجود</span>
                                </div>
                            }
                            else
                            {
                                <div class="product-state">
                                    <span class="product__price">@item.Price<span class="product__price-unit">تومان</span></span>
                                    <a href="/Product/Index/@item.Id" class="button mdi mdi-cart-plus icon1" title="افزودن به سبد خرید"></a>
                                </div>
                            }

                        </div>
                    </li>

                }

            }

        </ul>

        <div class="product-list-content-actions">
            <div class="product-list-content__info">
                <select class="product-list-content-actions__select">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
                <span class="product-list-content__total">@Model.Count کالا</span>
            </div>
            <div class="product-list-content-actions-pager">
                <a class="product-list-pager__button">1</a>
                <span class="product-list-pager__seperator">....</span>
                <a class="product-list-pager__button product-list-pager__button--current">8</a>
                <a class="product-list-pager__button">9</a>
                <a class="product-list-pager__button">10</a>
                <span class="product-list-pager__seperator">....</span>
                <a class="product-list-pager__button">15</a>
            </div>
        </div>
    </div>
</form>  